@charset "UTF-8";
h2 {
  font-size: 36px !important; }

.third-section {
  background: #edf1f4; }
  .third-section .image::after {
    display: none; }
  .third-section p {
    font-family: 'RobotoRegular';
    line-height: 1.5em;
    margin: 2em 0 0 0;
    font-size: 14px;
    text-align: left; }

.third-section .b-option .b-square .desc-right {
  margin-right: 20%; }

.sixth-section h2 {
  margin: 4.5% 0 0;
  padding: 0 5%; }

.fourth-section h2 {
  text-transform: uppercase; }

.fourth-section input[type=text] {
  font-family: 'RobotoRegular';
  color: rgba(255, 255, 255, 0.8);
  font-size: 18px;
  padding: 0.8em 0 0.7em 1em;
  background: rgba(34, 34, 34, 0.5);
  border: 1.5px solid #565454;
  border-radius: 25px;
  position: relative; }

.fourth-section input[type=tel] {
  position: relative; }

.fourth-section .btn-submit:after {
  content: 'Как вас зовут?';
  position: absolute;
  font-size: 14px;
  font-family: 'RobotoRegular';
  color: red; }

.fourth-section input {
  width: 30%;
  margin-left: 2% !important; }

@media screen and (max-width: 415px) {
  .third-section p {
    margin: 2em 5% 0; }
  .sixth-section {
    display: block; }
  .fourth-section input {
    width: 70% !important;
    font-size: 15px !important;
    margin: 5% auto 0 !important; } }
